:root {
  --primary-color: #fff;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#birthday-cal {
  height: 50vh;
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: yellow;
    height: 70%;
  }
}
.weekday {
  height: 180px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  box-sizing: border-box;
  color: white;
  .day {
    flex: 1;
    width: 100%;
    background-color: #ab9eee;
    padding: 0.25rem 1.25rem;
    box-sizing: border-box;
    align-items: center;
    span {
      float: right;
    }
  }
  .birthdays {
    flex: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #fff !important;
  }
}

.data {
  height: 50vh;
  .container {
    background-color: skyblue;
    height: 85%;
  }
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    .json-data {
      flex: 3;
    }
    .year-input {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      label {
        margin-bottom: 1.5rem;
      }
      input {
        margin-bottom: 3rem;
      }
    }
  }
}

.initialsBlock {
  // flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
